*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* BARRA DI NAVIGAZIONE */
header{
  background-color: #0c325a;
  height: 550px;
  position: relative;
  overflow: hidden;
}

header nav{
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

nav div{
  display: inline-block;
  font-size: 13px;
}

.col-logo{
  width: 10%;
  vertical-align: middle;
}

.col-link{
  width: 50%;
  text-align: right;
}

.col-login{
  width: 40%;
  text-align: right;
}

ul li{
  display: inline-block;
}

ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px
}

.btn-login{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px
}

/* BOTTONE PICCOLO */
.btn-green-small{
  background-color: #7cbb02;
  border-radius: 5px;
  margin-left: 10px
}

/* BOTTONE GRANDE */
.btn-green-big{
  text-transform: uppercase;
  display: inline-block;
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 20px 10px;

}

/* BOX HERO */
.banner-hero{
  height: 499px;
  width: 80%;
  margin: auto;
  position: relative;
}

.hero-photo{
  width: 1000px;
  height: 450px;
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: -15%;
}

.hero-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: white;
  width: 50%;
}

.hero-text h1{
  margin: 20px 0;
  font-size: 50px;
}

/* BOX GRIGIO MAIN */
.gray-box{
  background-color: #d3d3d3;
}

.text-box-gray{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px
}

.text-box-gray h3{
  font-size: 25px;
  padding: 10px 0 5px;
}

.text-box-gray p{
  color: #808080;
  padding: 5px 0 10px;
}

/* BOX COLONNE */
.box-colonne{
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.box-colonne div{
  width: calc(100% / 3);
  float: left;
}

.box-colonne img{
  height: 200px;
}

.box-colonne h3{
  font-size: 30px;
  color: #7cbb02;
  padding: 30px;
}

.box-colonne hr{
  width: 30%;
  margin: auto;
}

.box-colonne p{
  color: #808080;
  padding: 30px;
}
