*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* BARRA DI NAVIGAZIONE */
header{
  background-color: #0c325a;
  height: 550px;
  position: relative;
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 110% 100%;
}

header nav{
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

nav div{
  display: inline-block;
  font-size: 13px;
}

.col-logo{
  width: 10%;
  vertical-align: middle;
}

.col-link{
  width: 50%;
  text-align: right;
}

.col-login{
  width: 40%;
  text-align: right;
}

ul li{
  display: inline-block;
}

ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px
}

.btn-login{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px
}

/* BOTTONE PICCOLO */
.btn-green-small{
  background-color: #7cbb02;
  border-radius: 5px;
  margin-left: 10px
}

/* BOTTONE GRANDE */
.btn-green-big{
  text-transform: uppercase;
  display: inline-block;
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 20px 15px;
  font-size: 14px;
}

/* BOX HERO */
.banner-hero{
  height: 499px;
  width: 80%;
  margin: auto;
  position: relative;
}

.hero-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: white;
  width: 50%;
}

.hero-text h1{
  margin: 20px 0;
  font-size: 50px;
  font-weight: 500;
}

/* BOX GRIGIO MAIN */
.gray-box{
  background-color: #d3d3d3;
}

.text-box-gray{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px
}

.text-box-gray h3{
  font-size: 25px;
  padding: 10px 0 5px;
}

.text-box-gray p{
  color: #808080;
  padding: 5px 0 10px;
}

/* BOX CON TRE COLONNE */
.box-tre-colonne{
  width: 80%;
  margin: 50px auto 0;
  text-align: center;
}

.box-tre-colonne div{
  width: calc(100% / 3);
  float: left;
}

.box-tre-colonne img{
  height: 200px;
}

.box-tre-colonne h3{
  font-size: 30px;
  color: #7cbb02;
  padding: 20px;
  font-weight: 500;
}

.box-tre-colonne hr{
  width: 30%;
  margin: auto;
}

.box-tre-colonne p{
  color: #808080;
  padding: 30px;
  font-weight: 500;
}

/* DIVISORE */
main > hr{
  width: 95%;
  margin: 20px auto 30px;
  border: 0.5px solid #e6e6e6;
}

/* BOX CON DUE COLONNE */
.box-due-colonne{
  width: 80%;
  margin: auto;
}

.box-due-colonne div{
  width: 50%;
  float: left;
  padding: 10px 80px
}

.box-due-colonne h3{
  font-size: 40px;
  line-height: 55px;
}

.box-due-colonne P{
  margin: 10px 0 20px;
  color: #808080;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.box-due-colonne a{
  margin-top: 20px;
  color: #5586BC;
}

/* ULTIMO BOX GRIGIO CON BOTTONI */
.box-piano{
  width: 80%;
  margin: 50px auto 0;
  padding: 50px 0;
}

.struttura-piano, .visualizza-piano{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.struttura-piano h3{
  font-size: 40px;
  font-weight: 500;
}

.visualizza-piano{
  text-align: right;
}

.visualizza-piano h4{
  display: inline-block;
  color: #808080;
  font-size: 20px;
  font-weight: 500;
}

.visualizza-piano select{
  color: #808080;
  font-size: 20px;
}

.visualizza-piano p{
  color: white;
}

.visualizza-piano a{
  text-decoration: none;
    color: white;
}

.btn-fixed{
  width: fit-content;
  text-transform: uppercase;
  padding: 10px;
  position: fixed;
  bottom: 1px;
  right: calc(10% + 75px);
}

.custom-select {
  border: 0;
  width: 200px;
  border-bottom: 1px solid #808080;
  background-color: #d3d3d3;
  margin: 0 30px;
}
