*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

header{
  background-color: #0c325a;
  height: 550px;
  position: relative;
}

header section{
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

section div{
  display: inline-block;
  font-size: 13px;
}

.col-logo{
  width: 10%;
  vertical-align: middle;
}

.col-link{
  width: 50%;
  text-align: right;
}

.col-login{
  width: 40%;
  text-align: right;
}

.btn-login{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px
}

.btn-green-small{
  background-color: #7cbb02;
  border-radius: 5px;
  margin-left: 10px
}

.btn-green-big{
  text-transform: uppercase;
  display: inline-block;
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 20px 10px;

}

ul li{
  display: inline-block;
}

ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px
}

.banner-hero{
  position: absolute;
  width: 70%;
  right: -70px;
  bottom: 0;
}

.hero-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  color: white;
  width: 50%;
}

.hero-text h1{
  margin: 20px 0;
  font-size: 55px;
}
